{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <section id="gite">
            <div class="gite-contain">
                <div class="title">
                    <h1>le gîte</h1>
                </div>
            
                <p class="gite-description">description<p>
                <figure>
                    <img href="" alt="">
                </figure>
            

            <div class="gite-background">        
            </div>
</div>
        <div class="banner">
            <div class="icons">
            <p></p>
            
            </div>
        </div>
            
    </section>


{% endblock %}
