{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <section id="gite">
            <div class="gite-contain">
                <div class="title">
                    <h1>le gîte</h1>
                </div>
            
                <p class="gite-description">description<p>
                <figure>
                    <img href="" alt="">
                </figure>
            

            <div class="gite-background">        
            </div>
</div>
        <div class="banner">
            <div class="icons">
                <div class="icon">
                    <p class="banner-icon"><i class="fa-solid fa-bath"></i></p>
                    <p class="banner-p">Bain nordique</p>
                </div>
                <div class="icon">
                    <p class="banner-icon"><i class="fa-solid fa-bed"></i></p>
                    <p class="banner-p">Linge de maison inclus</p>
                </div>
            <div class="icon">
                <p class="banner-icon"><i class="fa-solid fa-wifi"></i></p>
                <p class="banner-p">Wifi gratuit</p>
            </div>
            <div class="icon">
                <p class="banner-icon"><i class="fa-solid fa-square-parking"></i></p>
                <p class="banner-p">Parking privé</p>
            </div>
            </div>
        </div>

<div class="caracteristique">
    <h3>Caractéristique du logement</h3>
</div>

<div class="banner2">
    <p class="banner2-p">Que vous veniez en couple, en famille ou entre amis,
    "Le Rain du Pair" est l'endroit idéal pour passer des moments inoubliables.
    Laisser-vous séduire par l'authenticité et le charme de ce refuge cosy.</p>
</div>
            
    </section>

    <section id="galerie">
        <div class="galerie-contain">
            <div class="title">
                <h1>Galerie</h1>
            </div>
            <div class="categories">

            {% for category in firstPicturesPerCategory %}
                <div class="category-01">
                    <figure>

                      
                        <img class="category-img" src="{{asset(category.getPictures().first()getUrl()) }}" alt="">
                       

                        <figcaption><a href="{{ path('show_category', {'id': category.id}) }}">{{category}}</a></figcaption>
                    </figure>
                </div>
            {% endfor %}
            </div>
        </div>


    <section id="alentours">
        <div class="alentours-contain">
            <div class="title">
                <h2>Aux alentours</h2>
            </div>





{% endblock %}
