* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Catamaran';
}

/* Déclaration des variables */

:root {
    /* Couleur */
    --color1: #504f4b;
    --color2: #a9b4a4;
    --color3: #b58869;
    --color4: #fcf7f1;
   

    /* Couleur de fond */

    /* Police */
    --font1: "Catamaran";
    --font2: "Corinthia";

    /* Taille de police */
    --size1: 1rem;
    --size2: 1.5rem;

    /* Largeur de police */
    --fontWeight1: 400;
    --fontWeight2: 500 ;
    --fontWeight3: ;
    --fontWeight4: ;

    /* Bord */
    --borderRadius1: 20px;

    /* Ombre */
    --boxShadow1: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --boxShadow2: rgba(50, 50, 93, 0.15) 0px 10px 18px -5px, rgba(0, 0, 0, 0.3) 0px 5px 10px -8px;

}


/* ********************************************** GÉNÉRAL ********************************************** */

.title {
   position: relative;
   display: inline-block;
   margin-left: 50px;
}

/* Ligne sous le titre */
.title::after {
    content: "";
    position: absolute;
    width: 60%; 
    height: 1px; 
    background-color: var(--color1); 
    bottom: -4px; 
    left: 20%; 
}

h1, h2 {
    color: var(--color1);
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: var(--fontWeight2);
    letter-spacing: 3px;
}
 
.center {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

h3 {
    color: var(--color1);
    letter-spacing: 2px;
    font-family: var(--font1);
    font-weight: var(--fontWeight1);
    margin: 20px 40px;
    font-size: 25px;
}

section {
    margin: 0 50px;
}

p {
    color: var(--color1);
    font-family: var(--font1);
    font-size: 15px;
    margin: 0 50px;

}

.pBold {
    font-size: 18px;
}

.btn {
    height: 40px;
    width: 150px;
    border-radius: var(--borderRadius1);
    background: var(--color3);
    border: none;
    color: var(--color4);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: var(--fontWeight1);
    box-shadow: var(--boxShadow2);
    transition-duration: 500ms;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.submit {
    margin-top: 10px;
}

.add {
    background-color: var(--color1);
}

.link-add {
    color: #fcf7f1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: var(--fontWeight1);
}

.fa-circle-arrow-right {
    color: var(--color3);
}

.fa-circle-arrow-right:hover {
    opacity: 0.8;
}

label {
    color: var(--color1);
}
/* ********************************************** NAVBAR PAGE D'ACCUEIL ********************************************** */


header {
    background-color: var(--color1);
    
}
.navLogo {
    height: 90px;
}
.nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    

}

.nav-item {
    text-transform: uppercase;
    padding-left: 60px;
    
}

.nav-item a {
    color: var(--color4);
    text-decoration: none;
    font-family: var(--font1);
}

/* ********************************************** RECHERCHE RESERVATION ********************************************** */

#search {
    background-color: #a9b4a4;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color1);
    width: 100%;
     
}

#reservationForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.start-containt, .end-containt, .person-containt, .submit-containt {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: flex-start
}

/* .start-containt {
    position: relative;
}

.end-containt {
    position: relative;
}

.person-containt {
    position: relative;
} */

#openCalendarModal {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
#openCalendarModalEnd {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

#openNumberPerson {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    
}

.modal-content {
    background-color: var(--color4);
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 10% auto;
    text-align: center;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.adult, .kid {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputPerson {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center ;  
    line-height: 25px;
    padding: 0;
  


}
.numberPerson, .numberAdult, .numberKid, .start, .end {
    margin: 0 10px;
}
.person {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#totalPerson {
    display: inline;
}
.labelPerson {
    display: inline;
}

.decrement, .increment {
    margin: 0;
}
/* ********************************************** CALENDRIER ********************************************** */

 .selectedStartDate {
    background-color: green; /* Couleur de fond grise pour indiquer la sélection */
    color: #333; /* Couleur du texte pour la date sélectionnée */
}

.fc-bg-event {
    background-color: var(--color2) !important;
}


.fc-toolbar-title {
    font-size: 1.5em !important;
}

#calendar {
    color: var(--color1) !important;
}
.fc-button-primary {
    background-color: var(--color1) !important;
}
.fc .fc-button .fc-icon {
    background-color: var(--color1) !important;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active {
    display: none !important;
}
.fc-today-button.fc-button.fc-button-primary {
    display: none !important;
}
.fc-button-group {
    margin-right: 15px;
}



/* ********************************************** CONNECTION / INSCRIPTION ********************************************** */

.registerForm {
    background-color: var(--color4);
    border-radius: 30px;
    width: 50%;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: var(--boxShadow1);
}

.inputRegister {
    margin: 20px;
}

.inputRegisterTerms {
    width: 30px !important;
    margin: 20px;
}
.btn-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.register {
    margin: 30px;
}

/* ********************************************** SECTION GÎTE ********************************************** */

#gite {
   
}
.gite-contain {
    /* height: 80vh; */
    background-color: var(--color4);
    position: relative;
}

.gite-background {
    height: 100vh;
    width: 33%;
    background-image: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    opacity: 0.5;
    z-index: 0;

    position: absolute;
    top: 0;
    right: 0;
   
    
}

.description-and-picture {
    display: flex;
    align-items: center;
    height: 100vh;
}
.gite-description {
    width: 33%;
    text-align: center; 
    margin-left: 50px;
}

.picture01 {
    width: 300px;
    height: auto;
    z-index: 5 !important;
    border-radius: 80px 180px 80px 180px ;
    box-shadow: var(--boxShadow1);
    margin-left: 50px;
}


.banner {
    background-color: var(--color2);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: center;
}

.icon {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-icon i, .banner-p {
    color: var(--color4);
    font-size: 22px;
}

.banner2 {
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.banner2-p {
    color: white;
    font-size: 20px;
    width: 50%;
    text-align: center;
}

.caracteristique {
    display: flex;
}

.caracteristique-right, .caracteristique-left {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caracteristique-p {
    margin: 50px 0px;
    text-align: justify;
}
.figure-picture02 {
    width: 100%;
}
.picture02 {
    
    width: 100%;
}

.picture03 {
    height: 250px;
    width: 80pw;
}

.picture04 {
    height: 50px;
    width: 50px;
}
/* ********************************************** SECTION GALERIE ********************************************** */

#galerie {
    height: 80vh;
}

.categories {
    display: flex;

}

.category-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 150px;
}

.category-img {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    box-shadow: 1px 2px 2px 0px var(--color1);
}

/* ********************************************** SECTION AUX ALENTOURS ********************************************** */

#alentours {
    background-color: var(--color4);
    height: 80vh;
}


/* ********************************************** DÉTAILS RÉSERVATION ********************************************** */
.confirmReservation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.confirm {
    height: 280px;
    width: 450px;
    background-color: var(--color4);
    border-radius: 20px;
    box-shadow: var(--boxShadow2);
    padding: 15px;
    /* position: fixed;
    right: 0;
    top: 50; */
    z-index: 5;
    text-align: center;
}

.confirmLine {
    width: 50%;
    margin: auto;
}

.total-p {
    display: inline-block;
    padding: 5px;
}

.btnReservation {
    width: auto;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: auto;
}

.btnReservation a {
    color: var(--color4);
}

button > a {
    text-decoration: none;
}

.update {
     
}

.update a {
    color: var(--color3);
}

.description01 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.descriptionIcon {
    font-size: 18px;
    font-weight: var(--fontWeight1);
    letter-spacing: 1.3px;
  
}

.descriptionRight {
    background-color: var(--color4);
    border-radius: 20px;
    box-shadow: var(--boxShadow2);
    width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;

}

.titleDescription {
    text-transform: uppercase;
    font-weight: var(--fontWeight1);
}

.info {
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 17px;
}

.bold {
    font-weight: 800;
}

.paraCenter {
    margin: 20px;
}

.titleH5 {
    text-align: center;
    margin: 120px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color2);
    letter-spacing: 1px;
}

.descriptionLists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 70px;
}

.titleList {
    list-style-type: none;

}

.invisible {
    visibility: hidden;
}
/* ********************************************** CONFIRMATION RESERVATION ********************************************** */

.recap {
    background-color: var(--color4);
    width: 70%;
    margin: auto;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.recapTop, .recapBottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    
}
.recapTop {
    margin-bottom: 30px;
}

.recapBottom {
    margin-top: 30px;
}
.recapLeft {
    margin-left: 30%;
    display: flex;
    flex-direction: column;
}
.recapTitle {
    margin: 0px !important;
    font-size: 22px;
}

.line {
    width: 50%;
    border: 1px solid var(--color1);
    margin: auto;
}
.inline {
    display: inline;
}

.resaForm {
    margin: auto;
    margin-top: 70px;
    background-color: var(--color4);
    width: 70%;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    border-radius: 10px;
    border: 1px solid var(--color1);
    padding: 4px;
    width: 200px;
    margin: 0 10px;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 20px;
}


/* ********************************************** ADMIN : TABLEAU DES GÎTES ********************************************** */

.giteForm {
    display: flex;
    flex-direction: column;
    width: 80% !important;
}


.row-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-add label {
    margin: 0 20px;
}

.row-center input {
    width: 100%;
    margin: 5px 0;

}

.inputDescription {
    width: 100%;
    height: 100px;
}


/* ********************************************** FOOTER ********************************************** */
footer {
    margin-top: 70px;
}
.footerContaint {
    height: 300px;
    background-color: var(--color1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerLogo {
    height: 200px;
}

.footerP {
    color: var(--color4);
    font-size: 20px;
}

.address, .contact {
    display: flex;
    flex-direction: column;
align-items: center;}