* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Catamaran', 'Ruthie', 'Corinthia';
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

/* Déclaration des variables */

:root {
    /* Couleur */
    --color1: #504f4b;
    --color2: #a9b4a4;
    --color3: rgb(181, 136, 105);
    --color4: #fcf7f1;
    --color5: rgb(217, 186, 166);
    --color6: #85634d;
   

    /* Couleur de fond */

    /* Police */
    /* --font1: "Catamaran";
    --font2: "Corinthia"; */

    /* Taille de police */
    --size1: 1rem;
    --size2: 1.5rem;

    /* Largeur de police */
    --fontWeight1: 400;
    --fontWeight2: 500 ;
    --fontWeight3: ;
    --fontWeight4: ;

    /* Bord */
    --borderRadius1: 20px;

    /* Ombre */
    --boxShadow1: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --boxShadow2: rgba(50, 50, 93, 0.15) 0px 10px 18px -5px, rgba(0, 0, 0, 0.3) 0px 5px 10px -8px;

}


/* ********************************************** GÉNÉRAL ********************************************** */

.title {
   position: relative;
   display: inline-block;
   margin: 80px 0 0 80px;
}

/* Ligne sous le titre */
.title::after {
    content: "";
    position: absolute;
    width: 30%; 
    height: 1px; 
    background-color: var(--color1); 
    bottom: -3px; 
}

h1, h2 {
    color: var(--color1);
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: var(--fontWeight2);
    letter-spacing: 3px;
    margin-top: 20px;
}

h2 {
    font-size: 27px;
}
 
.center {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

h3 {
    color: var(--color1);
    letter-spacing: 2px;
    font-family: var(--font1);
    font-weight: 500;
    margin: 20px 40px;
    font-size: 18px;
}

/* section {
    margin: 0 50px;
} */

p {
    color: var(--color1);
    font-family: var(--font1);
    margin: 0 50px;
}

.pBold {
    font-size: 18px;
}

.btn {
    height: 40px;
    width: 150px;
    border-radius: var(--borderRadius1);
    background: var(--color3);
    border: none;
    color: var(--color4);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: var(--fontWeight1);
    box-shadow: var(--boxShadow2);
    transition-duration: 500ms;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.submit {
    margin-top: 10px;
}

.add {
    background-color: var(--color1);
}

.link-add {
    color: #fcf7f1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: var(--fontWeight1);
}

.fa-circle-arrow-right {
    color: var(--color3);
}

.fa-circle-arrow-right:hover {
    opacity: 0.8;
}

label {
    color: var(--color1);
}

.edit i, .delete i {
    height: 30px;
    width: 30px;
}

.edit, .delete {
    text-align: center;
}

/* Bouton scroll haut de page */

.btn-scroll-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 3%;
    bottom: 6%;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color1);
    z-index: 1;
}

.btn-scroll-to-top i {
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ********************************************** NAVBAR PAGE D'ACCUEIL ********************************************** */
header {
    position: relative;
    /* min-height: 80vh; */
}

.videoContaint {
    
}
#videoHome {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    z-index: -1;
    object-fit: cover;
}

#videoHome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.5); /* Couleur verte avec opacité */
    z-index: 1; /* Positionné au-dessus de la vidéo */
}


/* ********************************************** NAVBAR ********************************************** */

#header {
    background-color: var(--color1);
}

.navLogo {
    height: 90px;
}
.nav-items {
    list-style: none;
    display: flex;
    align-items: center;

}

.nav-item {
    text-transform: uppercase;
    padding-left: 60px;
    
}

.nav-item a {
    color: var(--color4);
    text-decoration: none;
    font-family: var(--font1);
}

/* ********************************************** RECHERCHE RESERVATION ********************************************** */

#search {
    background-color: #a9b4a4;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color1);
    width: 100%;
     
}

#reservationForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.start-containt, .end-containt, .person-containt, .submit-containt {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: flex-start
}

/* .start-containt {
    position: relative;
}

.end-containt {
    position: relative;
}

.person-containt {
    position: relative;
} */

#openCalendarModal {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
#openCalendarModalEnd {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

#openNumberPerson {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    
}

.modal-content {
    background-color: var(--color4);
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 10% auto;
    text-align: center;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.adult, .kid {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputPerson {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center ;  
    line-height: 25px;
    padding: 0;
  


}
.numberPerson, .numberAdult, .numberKid, .start, .end {
    margin: 0 10px;
}
.person {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#totalPerson {
    display: inline;
}
.labelPerson {
    display: inline;
}

.decrement, .increment {
    margin: 0;
}
/* ********************************************** CALENDRIER ********************************************** */

 .selectedStartDate {
    background-color: green; /* Couleur de fond grise pour indiquer la sélection */
    color: #333; /* Couleur du texte pour la date sélectionnée */
}

.fc-bg-event {
    background-color: var(--color2) !important;
}


.fc-toolbar-title {
    font-size: 1.5em !important;
}

#calendar {
    color: var(--color1) !important;
}
.fc-button-primary {
    background-color: var(--color1) !important;
}
.fc .fc-button .fc-icon {
    background-color: var(--color1) !important;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active {
    display: none !important;
 
}
.fc-today-button.fc-button.fc-button-primary {
    display: none !important;
}
.fc-button-group {
    margin-right: 15px;
  
}


/* Styles pour le sélecteur de plage */
.flatpickr-range {
    /* Styles généraux pour le sélecteur de plage */
  }
  
  /* Styles pour la plage sélectionnée */
  .flatpickr-range .flatpickr-day.selected,
  .flatpickr-range .flatpickr-day.startRange,
  .flatpickr-range .flatpickr-day.endRange {
    background: var(--color5); /* Couleur de fond pour la plage sélectionnée */
    color: var(--color1); /* Couleur du texte pour la plage sélectionnée */
    border: 1px solid var(--color6);
    border-color: var(--color6);
  }
  .flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
    background: var(--color5); /* Couleur de fond pour la plage sélectionnée */
    color: var(var(--color1)); /* Couleur du texte pour la plage sélectionnée */
    border: 1px solid var(--color6);
    border-color: var(--color6);

  }
   
  .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
    -webkit-box-shadow: -10px 0 0 var(--color5);
     box-shadow: -10px 0 0 var(--color5);
  }
  /* Styles pour les jours survolés dans la plage */
  .flatpickr-range .flatpickr-day.inRange:hover {
    background-color: var(--color5); /* Couleur de survol pour la plage sélectionnée */
  }
  
  .flatpickr-day.inRange{
    background-color: var(--color5);
    border-color: var(--color5);
    box-shadow: -5px 0 0 var(--color5), 5px 0 0 var(--color5);
  }
  /* Styles pour les jours de début et de fin de plage */
  .flatpickr-range .flatpickr-day.startRange,
  .flatpickr-range .flatpickr-day.endRange {
    /* Styles spécifiques pour les jours de début et de fin de plage */
  }
  

/* ********************************************** CONNECTION / INSCRIPTION ********************************************** */

.registerForm {
    background-color: var(--color4);
    border-radius: 30px;
    width: 50%;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: var(--boxShadow1);
}

.inputRegister {
    margin: 20px;
}

.inputRegisterTerms {
    width: 30px !important;
    margin: 20px;
}
.btn-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.register {
    margin: 30px;
}

/* ********************************************** SECTION GÎTE ********************************************** */

.gite-title {
    margin: 80px 0 0 80px;
}

.gite-contain {
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden; 
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-image: url("../img/fond.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0.4;
}

.description-and-picture {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gite-description {
    width: 33%;
    text-align: center; 
    margin: 80px;
}

.giteFigure {
    z-index: 10;
}

.picture01 {
    width: 400px;
    height: auto;
    border-radius: 80px 180px 80px 180px;
    box-shadow: var(--boxShadow1);
    margin-left: 140px;
}

.banner {
    background-color: var(--color2);
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: center;
}

.icon {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-icon i  {
    color: var(--color4);
    font-size: 40px;
}

.banner-p {
    font-family: 'Corinthia';
    color: var(--color4);
    font-size: 40px;
    font-weight: 300;
}

/* .banner2 {
    background-image: url('../img/banniere.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
} */

.banner2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.banner2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(142, 103, 78, 0.7), rgb(255, 224, 203, 0.2)), url('../img/banniere.jpg');
   
        /* Effet parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner2-p {
    color: white;
    font-size: 43px;
    font-family: 'Corinthia';
    width: 70%;
    text-align: center;
    z-index: 5;
}

.caracteristique {
    display: flex;
    margin: 100px 250px;
}

.caracteristique-right  {
    display: flex;
    flex-direction: column;
}

.caracteristique-right {
    margin-right: 20px;
    width: 50%;
}

.caracteristique-left {
    margin-left: 20px;
    position: relative;
    width: 50%;
}

.caracteristique-p {
    margin: 50px 0px;
    text-align: justify;
}

.picture02,
.picture03,
.picture04 {
    width: 100%;
    border: 10px solid white;
    box-shadow: var(--boxShadow1);
}

.picture02 {
    width: 100%;
}


.picture03 {
    height: 550px;
 width: 400px;  
}

.picture04 {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 40px;
    right: 0;
}
/* ********************************************** SECTION GALERIE ********************************************** */

.categories {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.categories div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoryImg {
    width: 300px;
    height: 300px;
   
    transition-duration: 0.6s; 
    object-fit: cover; 
    position: relative;    
}

.categoryFigure {
    width: 300px;
    height: 300px; 
    overflow: hidden; 
    border: 15px solid white;
    box-shadow: var(--boxShadow1);
}

.category-1:hover .categoryImg,
.category-2:hover .categoryImg,
.category-3:hover .categoryImg,
.category-4:hover .categoryImg {
    filter: grayscale(90%);
    transform: scale(1.1);
}

.titleGalerie {
    font-family: 'Corinthia';
    color: var(--color3);
    font-size: 50px;
    text-align: center;
}

.hover-link {
    text-decoration: none;
    cursor: pointer;
}

.category-1{
    transform: rotate(-5deg);
    z-index: 1;
}

.category-1 .titleGalerie{
    text-align: center;
    position: relative;
}

.category-2 figure{
    z-index: 2;
    transform: translateY(15px);
}

.category-2 .categoryFigure {
    display: flex;
    flex-direction: column-reverse;   
}

.category-3 figure{
    z-index: 3;
    transform: rotate(6deg) translateX(-20px);
}

.category-4 figure{
    z-index: 4;
    transform: translateX(-30px) translateY(-30px);
}

.category-4 .categoryFigure {
    display: flex;
    flex-direction: column-reverse;   
}

.voirPlus {
    position: absolute;
    top: 50%;
    right: 50%;
    margin: auto;
    opacity: 0;
    font-size: 18px;
    color: white;
    font-weight: 100;
    background-color: var(--color3);
    border-radius: 10px;
    padding: 8px;
    text-transform: uppercase;
    /* width: 150px; */
}

.categoryFigure:hover .voirPlus {
    opacity: 1;
}

/* ********************************************** SECTION AUX ALENTOURS ********************************************** */

#alentours {
    background-color: var(--color4);
    height: 80vh;
}


/* ********************************************** DÉTAILS RÉSERVATION ********************************************** */
.confirmReservation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.confirm {
    height: 300px;
    width: 400px;
    background-color: var(--color4);
    border-radius: 20px;
    box-shadow: var(--boxShadow2);
    padding: 15px;
    /* position: fixed;
    right: 0;
    top: 50; */
    z-index: 5;
    text-align: center;
}

.confirmLine {
    width: 50%;
    margin: auto;
}

.total-p {
    display: inline-block;
    padding: 5px;
}

.btnReservation {
    width: auto;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: auto;
}

.btnReservation a {
    color: var(--color4);
}

button > a {
    text-decoration: none;
}

.update a {
    color: var(--color3);
}

.description01 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.descriptionIcon {
    font-size: 18px;
    font-weight: var(--fontWeight1);
    letter-spacing: 1.3px;
  
}

.descriptionRight {
    background-color: var(--color4);
    border-radius: 20px;
    box-shadow: var(--boxShadow2);
    width: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.titleDescription {
    text-transform: uppercase;
    font-weight: var(--fontWeight1);
    text-align: center;
}

.info {
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 17px;
}

.bold {
    font-weight: 800;
}

.paraCenter {
    margin: 20px;
}

.titleH5 {
    text-align: center;
    margin: 100px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color2);
    letter-spacing: 1px;
}

.descriptionLists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 70px;
    
}
.descriptionList {
    font-size: 20px;
    font-weight: 500;
    color: var(--color1);
}
li {
    color: var(--color1);
    font-size: 15px;
    padding: 5px;
    list-style-type: none;
}

.titleList {
    list-style-type: none;
}

.invisible {
    visibility: hidden;
}

.sectionSituations {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.situationFigure img {
    height: 600px;
    box-shadow: var(--boxShadow2);

}

.paragrapheSituation {
margin: 0;
}
/* ********************************************** CONFIRMATION RESERVATION ********************************************** */

.recap {
    background-color: var(--color4);
    width: 70%;
    margin: auto;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.recapTop, .recapBottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    
}
.recapTop {
    margin-bottom: 30px;
}

.recapBottom {
    margin-top: 30px;
}
.recapLeft {
    margin-left: 30%;
    display: flex;
    flex-direction: column;
}
.recapTitle {
    margin: 0px !important;
    font-size: 22px;
}

.line {
    width: 50%;
    border: 1px solid var(--color1);
    margin: auto;
}
.inline {
    display: inline;
}

.resaForm {
    margin: auto;
    margin-top: 70px;
    background-color: var(--color4);
    width: 70%;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    border-radius: 10px;
    border: 1px solid var(--color1);
    padding: 4px;
    width: 200px;
    margin: 0 10px;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 20px;
}


/* ********************************************** ADMIN : TABLEAU DES GÎTES ********************************************** */

.giteForm {
    display: flex;
    flex-direction: column;
    width: 80% !important;
}


.row-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-add label {
    margin: 0 20px;
}

.row-center input {
    width: 100%;
    margin: 5px 0;

}

.inputDescription {
    width: 100%;
    height: 100px;
}

.tableGite {
    margin: auto;

}

th, td {
    padding: 20px;
    text-align: center;
}

.tdDescription {
    width: 400px;

}

/* ********************************************** ADMIN : DASHBOARD ********************************************** */

.containerDashboard{
    display: flex;
    height: 100%;
}

.slidebar {
    background-color: var(--color4);
    width: 330px;
    /* height: 100%; */
    /* position: fixed; */
    top: 100px;
    left: 0;
    bottom: 530px;
    padding: 20px;
    z-index: 200;
    padding-top: 50px;
}

.linkAdmin, li {
    color: var(--color1);
    text-decoration: none;
    text-transform: uppercase;
}

.content {
    padding: 20px;
}

.titleSlidebar {
    font-weight: 600;
    font-size: 15px;
}

.linkAdmin {
    padding-left: 20px;
    font-size: 12px;
    transition-duration: 500ms;
}

.linkAdmin:hover {
    color: var(--color3);
}

.tableReservation {
    margin-top: 50px;
}
/* PERIODES */

/* PHOTOS */
.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}
.card {
    height: 200px;
    width: 200px;
    background-color: var(--color4);
    box-shadow: var(--boxShadow1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.cardLink {
    text-decoration: none;
    font-size: 20px;
    color: var(--color1);
    margin-bottom: 15px;
}

.cardBtn {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.btnRight {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    
}
.categoryBtnAdd {
    height: 70px;
}
.pictureInput {
    width: 300px;
}

#picture_description {
    height: 100px;
    width: 300px;
}

.pictureFormSubmit {
    display: flex;
    justify-content: center;
}

.categoryInput {
    margin: 0 !important;
}


/* ********************************************** MON PROFIL ********************************************** */

.profilEmail {
    font-size: 25px;
    font-weight: 700;
    display: inline;
}

.profilEmailAddress {
    display: inline;
}

.profilContaint {
    margin: 50px;
    text-align: center;
}

.profilResa {
    text-align: center;
    font-size: 25px;

}

.resaContaint {
    margin: 100px;
}
/* ********************************************** VUE CONFIRMATION RESERVATION ********************************************** */

.messageConfirm {
    font-size: 25px;
    text-align: center;
}

.messageConfirm2 {
    margin: 0 200px;
    text-align: center;
}
.sectionMessage {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* ********************************************** FENETRE D'ALERTE ********************************************** */

 .swal2-styled {
    background-color: var(--color2) !important;
    border-color: var(--color1) !important;
}

.swal2-loader {
    border-color: var(--color1) !important;
    outline: none !important;
}

.flatpickr-day.startRange,
.flatpickr-day.endRange.endRange {
    background-color: var(--color3) !important;
    outline: none !important;
}

.swal2-styled.swal2-confirm, div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm  {
    background-color: var(--color1) !important;
    outline: none !important;
}
/* ********************************************** FOOTER ********************************************** */

#map {
    height: 180px;
    z-index: 5;
}

.footerContaint {
    height: 350px;
    position: relative;
}

.footerTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.footer-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    background-image: url('/img/fond.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.footer-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Couleur d'arrière-plan semi-transparente pour assombrir */
}

.footerLogo {
    height: 200px;
}

.footerP {
    color: var(--color4);
    font-size: 20px;
}

.footer-line {
    background-color: white;
    width: 80%;
    height: 1px;
   margin: 10px auto;
}

.address, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-link {
    display: flex;
    justify-content: space-around;
    color: white;
}

.footerLink {
    color: white;
    padding: 7px;
    display: inline;
    margin: 0;
}