{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    <div class="title gite-title center">
         <h1>Tableau de bord</h1>
    </div>


{% endblock %}
